body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 80px;
}

.seperator {
  width: 35px;
  border-bottom: 1px solid #A39374;
  margin: 10px;
  display: inline-block;
}

/*FANCY HR*/
hr.fancy {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: 1px solid #ddd;
  color: #ddd;
  text-align: center;
}
hr.fancy:after {
  content: "o";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  background: white;
}

/*NAVBAR*/
.navbar {
  background-color: #fdfdfd !important;
  position: fixed;
  width: 100%;
  padding: 15px 10px 0 10px;
  transition: 0.5s;
  z-index: 1000;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
.navbar-nav {
  margin-left: 30px;
  
}
.navbar-brand img {
  width: 150px;
  padding: 5px 5px;
  transition: 0.5s;
}
.nav-item {
  font-weight: 700;
  transition: 0.5s;
  padding: 40px 1rem 50px 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.nav-item:hover {
  color: #A39374 !important;
  border-bottom: 4px solid #A39374;
}
.nav-item.active {
  border-bottom: 4px solid #A39374;
  color: #444 !important;
}
.nav-item.active:hover {
  color: #A39374 !important;
}
.navbar-toggler {
  outline: 0 !important;
  border: 0;
}
.icon-bar {
  display: block;
  transition: all 0.2s;
  background-color: #555;
	width: 22px; 
	height: 2px;
	margin-top: 4px
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

@keyframes fade {
  0%{background-image: url(../gallery/images/f8.jpg);}
  10%{background-image: url(../gallery/images/f8.jpg);}
  20%{background-image: url(../gallery/images/w13.jpg);}
  30%{background-image: url(../gallery/images/w13.jpg);}
  40%{background-image: url(../gallery/images/w20.jpg);}
  50%{background-image: url(../gallery/images/w20.jpg);}
  60%{background-image: url(../gallery/images/w7.jpg);}
  70%{background-image: url(../gallery/images/w7.jpg);}
  80%{background-image: url(../gallery/images/f16.jpg);}
  90%{background-image: url(../gallery/images/f16.jpg);}
  100%{background-image: url(../gallery/images/f8.jpg);}
}

/*LANDING*/
#landing {
  height: 92vh;
  background: url(../gallery/images/f8.jpg);
  background: url(../gallery/images/f8.jpg),
  url(../gallery/images/w13.jpg),
  url(../gallery/images/w20.jpg),
  url(../gallery/images/w7.jpg),
  url(../gallery/images/f16.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: fade;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

/*OVERVIEW*/
#overview > div {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  text-align: center;
}
#overview img {
  width: 100px;
}
#overview > div > div > h1 {
  color: #A39374;
  font-size: 1.9rem;
  font-weight: 500;
  word-spacing: -6px;
  padding: 5px 0 0 0;
  margin: 0;
}
#overview h2 {
  color: #5f5641;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
#overview p {
  font-weight: 500;
  color: #5f5641;
}

/*ACTIVITIES*/
#activities > div {
  width: 80%;
  margin: auto;
  text-align: center;
}
#activities h2 {
  color: #5f5641;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px;
}
#activity-list div {
  display: inline-block;
  margin: 0 25px;
}
#activity-list h3 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 5px;
  color: #5f5641;
}
#activity-list i {
  font-size: 3rem;
  color: #A39374;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s;
  cursor: default;
}

/*QUICK-INFO*/
#quick-info > div {
  width: 80%;
  margin: auto;
  text-align: center;
}
#quick-info p {
  font-weight: 500;
  color: #5f5641;
}
#quick-info #info-icon i {
  font-size: 4rem;
  color: #A39374;
  cursor: default;
}
#quick-info a {
  color: #3d3626;
}

/*ENQUIRE BUTTON*/
#enquire-button {
  text-align: center;
  margin: 10px;
}
#enquire-button a {
  display: inline;
  text-decoration: none;
  background-color: #A39374;
  padding: 15px 20px;
  transition: 0.3s;
}
#enquire-button a p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
}
#enquire-button i {
  color: #fff;
  display: inline-block;
  padding-right: 8px;
}
#enquire-button a:hover {
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}
#enquire-button a:hover {
  text-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}
#enquire-graphic img {
  width: 300px;
  padding: 20px 10px;
}

/*MAP*/
#map > div {
  width: 80%;
  margin: auto;
  text-align: center;
}
#map h2 {
  color: #5f5641;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px;
}
.mapouter {
  position: relative;
  text-align: center;
  height: 450px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 100%;
}

/*FOOTER*/
#footer {
  background-color: #f7f4f0;
  padding: 30px 0;
  margin-top: 30px;
}
#footer h3 {
  color: #A39374;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
#footer > div {
  width: 80%;
  margin: auto;
}
#footer > div > div {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: text-top;
}
#footer > div > div:nth-child(1) {
  width: 40%;
}
#footer > div > div:nth-child(2) {
  width: 25%;
}
#footer > div > div:nth-child(3) {
  width: 33%;
}
#footer #branding-footer {
  text-align: center;
}
#footer #branding-footer h1 {
  color: #A39374;
  font-size: 1.9rem;
  font-weight: 500;
  word-spacing: -6px;
  padding: 5px 0 0 0;
  margin: 0;
}
#footer #branding-footer h2 {
  color: #5f5641;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
#footer #branding-footer img {
  width: 100px;
}
#footer p {
  padding: 5px 0;
  margin: 0;
  color: #5f5641;
  font-size: 0.9rem;
  font-weight: 500;
}
#footer a {
  text-decoration: none;
  color: #5f5641;
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}
#footer a:hover {
  color: #A39374;
}
#footer i {
  color: #5f5641;
  padding-top: 7px;
}
#footer #contact-us div {
  display: block;
}
#footer #contact-us i, #footer #contact-us p {
  text-transform: none;
  display: inline-block;
}
#footer #contact-us div:nth-child(2) {
  white-space: nowrap;
}
#footer #contact-us i {
  padding-right: 5px;
}
#footer #copyright p {
  text-align: center;
  padding: 50px 5px 0 5px;
  color: #5f5641;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 100;
}
#footer #copyright a {
  color: #3d3626;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 100;
}
#footer #copyright a:hover {
  text-decoration: underline;
}

/*RESPONSIVE*/
@media(max-width: 991px) {
  .navbar-nav {
    height: 100vh;
  }
  .navbar-nav {
    margin: 0 18px 0 0;
    text-align: right;
  }
  .navbar-brand img {
    width: 110px;
  }
  .nav-link {
    padding: 10px 0 !important;
    font-size: 1.2rem;
  }
  .nav-link.active {
    color: #A39374 !important;
    border: none;
  }
  .nav-link:hover {
    border: none !important;
  }
  #landing {
    height: 70vh;
  }
}
@media(max-width: 850px) {
  #footer > div > div {
    display: block;
    width: 100% !important;
  }
  #footer > div > div {
    padding: 20px 0;
  }
}
@media(max-width: 700px) {
  #activity-list i {
    font-size: 2.2rem;
  }
  #activity-list div {
    margin: 0 5px;
  }
  #activities h3 {
    font-size: 0.7rem;
  }
  #landing {
    height: 55vh;
  }
}