/*GLOBAL*/
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 160px;
}
.seperator {
  width: 35px;
  border-bottom: 1px solid #A39374;
  margin: 10px;
  display: inline-block;
}

/*FANCY HR*/
hr.fancy {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 1px solid #ddd;
  color: #ddd;
  text-align: center;
}
hr.fancy:after {
  content: "o";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  background: white;
}

/*NAVBAR*/
.navbar {
  background-color: #fdfdfd !important;
  position: fixed;
  width: 100%;
  padding: 15px 10px 0 10px;
  transition: 0.5s;
  z-index: 1000;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}
.navbar-nav {
  margin-left: 30px;
  
}
.navbar-brand img {
  width: 150px;
  padding: 5px 5px;
  transition: 0.5s;
}
.nav-item {
  font-weight: 700;
  transition: 0.5s;
  padding: 40px 1rem 50px 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.nav-item:hover {
  color: #A39374 !important;
  border-bottom: 4px solid #A39374;
}
.nav-item.active {
  border-bottom: 4px solid #A39374;
  color: #444 !important;
}
.nav-item.active:hover {
  color: #A39374 !important;
}
.navbar-toggler {
  outline: 0 !important;
  border: 0;
}
.icon-bar {
  display: block;
  transition: all 0.2s;
  background-color: #555;
	width: 22px; 
	height: 2px;
	margin-top: 4px
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*TOP HEADING*/
#top-heading {
  text-align: center;
  width: 80%;
  margin: auto;
}
#top-heading > h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #5f5641;
}
#top-heading > h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #A39374;
  padding: 0 10px 20px 10px;
}

/*FRIESLAND*/
#friesland {
  padding: 25px 0;
  overflow: hidden;
}
#friesland > div {
  width: 80%;
  margin: auto;
}
#friesland > div > img, #friesland > div > div {
  width: 49%;
  padding: 0px 15px;
}
#friesland > div > img {
  float: left;
}
#friesland > div > div {
  float: right;
}
#friesland h1 {
  font-size: 1.5rem;
  color: #5f5641;
  padding: 0;
  margin: -15px 0 0 0;
}
#friesland img {
  width: 100%;
}


/*WEAVER*/
#weaver {
  padding: 25px 0;
  overflow: hidden;
}
#weaver > div {
  width: 80%;
  margin: auto;
}
#weaver > div > img, #weaver > div > div {
  width: 49%;
  padding: 0px 15px;
}
#weaver > div > img {
  float: left;
}
#weaver > div > div {
  float: right;
}
#weaver h1 {
  font-size: 1.5rem;
  color: #5f5641;
  padding: 0;
  margin: -15px 0 0 0;
}
#weaver img {
  width: 100%;
}
#weaver ul, #friesland ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5f5641;
}


/*ENQUIRE BUTTON*/
#enquire-button {
  text-align: left;
  margin: 10px 0;
}
#enquire-button a {
  background-color: #fff;
  color: #A39374;
  border: 2px solid #A39374;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
  font-weight: 400;
}
#enquire-button a:hover {
  background-color: #A39374;
  color: #fff;
}

/*FOOTER*/
#footer {
  background-color: #f7f4f0;
  padding: 30px 0;
  margin-top: 30px;
}
#footer h3 {
  color: #A39374;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
#footer > div {
  width: 80%;
  margin: auto;
}
#footer > div > div {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: text-top;
}
#footer > div > div:nth-child(1) {
  width: 40%;
}
#footer > div > div:nth-child(2) {
  width: 25%;
}
#footer > div > div:nth-child(3) {
  width: 33%;
}
#footer #branding-footer {
  text-align: center;
}
#footer #branding-footer h1 {
  color: #A39374;
  font-size: 1.9rem;
  font-weight: 500;
  word-spacing: -6px;
  padding: 5px 0 0 0;
  margin: 0;
}
#footer #branding-footer h2 {
  color: #5f5641;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
#footer #branding-footer img {
  width: 100px;
}
#footer p {
  padding: 5px 0;
  margin: 0;
  color: #5f5641;
  font-size: 0.9rem;
  font-weight: 500;
}
#footer a {
  text-decoration: none;
  color: #5f5641;
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}
#footer a:hover {
  color: #A39374;
}
#footer i {
  color: #5f5641;
  padding-top: 7px;
}
#footer #contact-us div {
  display: block;
}
#footer #contact-us i, #footer #contact-us p {
  text-transform: none;
  display: inline-block;
}
#footer #contact-us div:nth-child(2) {
  white-space: nowrap;
}
#footer #contact-us i {
  padding-right: 5px;
}
#footer #copyright p {
  text-align: center;
  padding: 50px 5px 0 5px;
  color: #5f5641;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 100;
}
#footer #copyright a {
  color: #3d3626;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 100;
}
#footer #copyright a:hover {
  text-decoration: underline;
}

/*RESPONSIVE*/
@media(max-width: 991px) {
  .navbar-nav {
    height: 100vh;
  }
  .navbar-nav {
    margin: 0 18px 0 0;
    text-align: right;
  }
  .navbar-brand img {
    width: 110px;
  }
  .nav-link {
    padding: 10px 0 !important;
    font-size: 1.2rem;
  }
  .nav-link.active {
    color: #A39374 !important;
    border: none;
  }
  .nav-link:hover {
    border: none !important;
  }
  #friesland > div > img, #friesland > div > div {
    display: block;
    width: 100%;
  }
  #friesland h1, #weaver h1 {
    padding-top: 15px;
  }
  #weaver > div > img, #weaver > div > div {
    display: block;
    width: 100%;
  }
  #container {
    padding-top: 130px;
  }
}
@media(max-width: 850px) {
  #footer > div > div {
    display: block;
    width: 100% !important;
  }
  #footer > div > div {
    padding: 20px 0;
  }
}